@model MyEshop.ModelsViews.Registration;

<form method="post" class="form-group" asp-controller="Registration" asp-action="Register" role="form">

    First Name :<input type="text" class="form-control checkbox-lg" name="fn"/><br />
    Last Name : <input type="text" class="form-control checkbox-lg" name="ln" /><br />
    Birth Day : <input type="Date" class="form-control checkbox-lg" name="bd" /><br />
    Email : <input type="email" class="form-control checkbox-lg" name="email" /><br />
    Password : <input type="password" class="form-control checkbox-lg" name="pwd" /><br />
    <input type="submit" class="form-control btn-info" value="Register"  />

</form>
