
<form method="post" asp-controller="Login" asp-action="Login">

    Email : <input type="email" class="form-control checkbox-lg" name="email" /><br />
    Password : <input type="password" class="form-control checkbox-lg" name="pwd" /><br />
    <input type="submit" value="Login" class="form-control btn-info" />
</form>